//- includes/header.pug
header
    a.log(href='#') Хекслет
    nav
        a(href='/programs') Программы
        a(href='/courses') Курсы
        a(href='/pricing') Цены
        a(href='/teams') Компаниям
