-
    const i18n = {
        locale: 'en',
        profile: {
            'Student Profile': 'Student Profile',
            'Settings': 'Settings',
            'Promo Code': 'Promo Code',
            'Access as a gift': 'Access as a gift',
            "Teacher's": "Teacher's",
            'Mentoring': 'Mentoring',
            'Marketing': 'Marketing',
            'Help': 'Help',
            'Log off': 'Log off',
        }
    };
