-
    const i18n = {
        locale: "ru",
        profile: {
            'Student Profile': 'Профиль студента',
            'Settings': 'Настройки',
            'Promo Code': 'Промокод',
            'Access as a gift': 'Доступ в подарок',
            "Teacher's": "Учительская",
            'Mentoring': 'Менторство',
            'Marketing': 'Маркетинг',
            'Help': 'Помощь',
            'Log off': 'Выйти',
        }
    };
