-
    const users = [
        {
            name: 'Кодовёнок',
            surname: 'Хекслетович',
            login: 'hexlet-code',
            score: 1271,
        },
        {
            name: 'Король',
            surname: 'Вёрстки',
            login: 'king-of-layout',
            score: 1100,
        },
    ];

mixin createUserTable(userData = [])
    table
        thead
            tr
                th Имя
                th Фамилия
                th Логин
                th Баллы
        tbody
            each user in userData
                tr
                    td= user.name
                    td= user.surname
                    td= user.login
                    td= user.score
            else
                tr
                    td(colspan='4') Пользователи отсутствуют

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Hexlet Profile
    body
        section
            h2 Лучшие из лучших
            +createUserTable(users)

            h2 Худшие из худших
            +createUserTable(badUsers)

