-
    const contacts = {
      'A': [
          {
              name: 'Александр',
              surname: 'Хекслетович',
          },
          {
              name: 'Андрей',
              surname: 'Верстальщиков',
          },
          {
              name: 'Артём',
              surname: 'Джаваскриптов',
          },
      ],
    };

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Hexlet Profile
    body
        each people, letter in contacts
            h2= letter
            ul
                each person in people
                    li #{person.name} #{person.surname}
                else
                    li Нет пользователей
