doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='icon' type='image/x-icon' href='favicon.ico')

        title Мой первый Pug-шаблон

        link(rel='stylesheet' href='./build/css/app.css')

    body
        section
            p Я - вложенный параграф в секцию
        section
            h2 Лучшие товары в нашем магазине
            div
                h3 Товар 1
                p Цена: 55 рублей
