doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='icon' type='image/x-icon' href='favicon.ico')

        title Мой первый Pug-шаблон

        link(rel='stylesheet' href='./build/css/app.css')

    body
        p Это текст в "инлайн-стиле". Внутри тега будет весь контент, который вы укажете в строке.

        p
            | Контент в Pipe-стиле
            | Каждая строка начинается с вертикальной черты
        p.
            Блочный стиль. Здесь можно указывать любое количество строк.
            И для этого не нужно использовать специальные символы.
