doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='icon' type='image/x-icon' href='favicon.ico')

        title Мой первый Pug-шаблон

        link(rel='stylesheet' href='./build/css/app.css')

    body
        section.container
            .col-2
                .content
                    h1 О хекслете
                    p Хекслет - практические курсы по программированию. Мы помогаем новичкам стать профессиональными...
                .side
                    ul
                        li
                            strong Теория.
                            |
                            | Короткая лекция в виде текста или видео.
                        li
                            strong Тест.
                            |
                            | Проверка вашего понимания.
                        li
                            strong Практика.
                            |
                            | Упражнения по программированию в реальной среде разработки.
