mixin table(headers = [], data = [])
    table
        thead
            tr
                for header in headers
                    th= header
        tbody
            for rowsData in data
                tr
                    for cell in rowsData
                        td= cell
